<?xml version="1.0" encoding="UTF-8"?>
<beans
  xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:aop="http://www.springframework.org/schema/aop"
  xmlns:jee="http://www.springframework.org/schema/jee"
  xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd">

  <!-- Profiling JAMON -->
  <bean id="jamonPerformanceMonitorInterceptor" class="org.springframework.aop.interceptor.JamonPerformanceMonitorInterceptor">
    <property name="trackAllInvocations" value="true" />
  </bean>

  <!-- conf aop -->
  <aop:config proxy-target-class="true">
     <aop:pointcut id="anyExecution" expression="execution(* com.ypg.car.cms..*.*(..))" />
    <aop:advisor id="jamonPerformanceMonitorAdvice" advice-ref="jamonPerformanceMonitorInterceptor" pointcut-ref="anyExecution" />
  </aop:config>

  <!-- interception des requetes pour monitoring Jamon -->
  <bean id="dataSource" class="com.jamonapi.proxy.JAMonDataSource">
    <constructor-arg>
      <jee:jndi-lookup jndi-name="${cms.jndiName}" />
    </constructor-arg>
  </bean>

</beans>